body{
    background-color:#2241d8cd;
   
    
    

}
#EspaçamentoQuadrado{
    
    width: 450px;
    height: 450px;
    background-color: cornsilk;

    top: 50%;
    margin:  auto;
    padding: 15px;
    margin: 5px auto
}
#EspaçamentoCirculo{
    
    width: 45px;
    height: 45px;
    background-color:red;
    
    margin: 0 auto;
    padding: 15px;
    margin: 5px auto
}